/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
  overflow-x: hidden;
}


.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  counter-reset: div;
}

.grid-center {
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
}

.grid-baseline {
  justify-items: baseline;
  justify-content: space-evenly;
  align-items: baseline;
}

.grid-3-9 {
  grid-template-columns: 25% 75%;
}

.col-1 {
  grid-column: auto/span 1;
}

.col-2 {
  grid-column: auto/span 2;
}

.col-3 {
  grid-column: auto/span 3;
}

.col-4 {
  grid-column: auto/span 4;
}

.col-5 {
  grid-column: auto/span 5;
}

.col-6 {
  grid-column: auto/span 6;
}

.col-7 {
  grid-column: auto/span 7;
}

.col-8 {
  grid-column: auto/span 8;
}

.col-9 {
  grid-column: auto/span 9;
}

.col-10 {
  grid-column: auto/span 10;
}

.col-11 {
  grid-column: auto/span 11;
}

.col-12 {
  grid-column: auto/span 12;
}

.message {
  background-color: rgb(0, 102, 255) !important;  
  transition: all ease-in-out 0.2s;
  color: white;
}

.message.mine {
  color: black;
  background-color: rgb(93, 255, 114) !important;
  text-align: right;
}

textarea, input{
  color:rgb(0, 102, 255) !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: rgb(0, 102, 255)!important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(0, 102, 255)!important;
  // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: red!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: red!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: red!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
  color: rgb(0, 102, 255)!important;
  // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(0, 102, 255)!important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red!important;
}

::ng-deep .mat-error{
  color:red;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline,
::ng-deep .mat-form-field .mat-form-field-underline span.mat-form-field-ripple{
  background-color:rgb(0, 102, 255);
  height: 1px !important;
}

::ng-deep .mat-form-field-invalid .mat-form-field-underline span.mat-form-field-ripple{
  background-color:red;
}


mat-form-field,
mat-form-field label{
    color:white;
}

button.primary{
  background-color:rgb(0, 102, 255);
  color:white;
  transition: all ease-in-out 0.2s;
}

button.primary:hover{
  box-shadow: 0 5px 10px 0 rgba(4,30,76,0.41);
}

button.primary.disabled:hover{
  box-shadow: none;
}
